__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.venv/
.env

build/
dist/

data/articles/*
!data/articles/.gitkeep
data/scripts/*
!data/scripts/.gitkeep
data/audio/*
!data/audio/.gitkeep
data/rss/*
!data/rss/pic.png
